
# Dependencias
node_modules/

# Playwright outputs
test-results/
playwright-report/
playwright/.cache/
/playwright/.auth/

# Screenshots / videos (si no quieres versionarlos)
*.png
*.jpg
*.jpeg
*.webp

# Logs
*.log

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db



